div{
    background-color: aqua;
    margin: 20px;
    padding: 15px;
    text-align: center;
}
div:first-child{
    background-color: brown;
    border-radius: 50px;
}
h1{
    font-family: cursive;
    color: #fff;
}
img{
    width: 90%;
}
ul li{
    text-align: left;
}